<div class="jumbotron mt-4">
    <h1 class="display-4 text-center">Aplicativo de tarefas</h1>
    <p class="lead text-center">
       PROJETO – ESTÁGIO NODEJS
    </p>
    <hr class="my-4">
    <ul class="list-unstyled">
        <li>Dependencias utilizadas:</li>
        <ul>
      <li>bcryptjs</li>
      <li>connect-flash</li>
      <li>express</li>
      <li>express-handlebars</li>
      <li>express-session</li>
      <li>method-override</li>
      <li>mongoose</li>
      <li>morgan</li>
      <li>passport</li>
      <li>passport-local</li>
    </ul>
    </ul>
    <hr class="my-4">
</div>

